:root {
    /* definir paleta */
    --blanco: #ffffff;
    --texto: #444444;
    --ppal-fuerte:  #5E6472;
    --ppal-medio: #AED9E0;
    --ppal-suave: #B8F2E6;
    --contraste-suave: #FAF3DD;
    --contraste-fuerte: #FFA69E;   

}

/* fonts 
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
*/

/* GLOBALES */

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box ; 
    
}


/* TITULOS */
h1, 
h2, 
h3 {
    text-align: center;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem; 
    color: var(--texto);
    letter-spacing: 5px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: auto;

    position: relative;
}

.subrayado {

    background: linear-gradient( 90deg, #FFA69E, #ffffff);
    height: 20px;
    width: 450px;
    position: absolute;
    left: calc(50vw - 150px);
    bottom: 1rem;
    z-index: -1;

}



/* METIENDO MANOPLA ELIAS DESDE ACÁ*/
/* METIENDO MANOPLA ELIAS DESDE ACÁ*/



.headerelias {
    display: flex;
    margin: 1px;
    flex-flow: row nowrap;
    width: 100%;
    height: 120px;
    align-content: flex-end;
    gap: 4px 4px;
    background-color: var(--ppal-fuerte);
    align-items: auto;
}
  
  .elem {
    width: 33%;
    
  }

   
/*-----------MENU NAV --------------*/

#menu {
    margin:auto;
    padding-left:10px;
    padding-top:5px;   
    height:25px;
    width: 60%;
    
}
#menu ul{
    list-style:none; 
    margin:0px; 
    padding:0px;
}
#menu ul li {
    float:left;
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #FFFFFF;
}
#menu ul li a{
    text-decoration:none;
    color:#CCCCCC;
    font-weight:bold;
}
#menu ul li a:hover{
    color:#FFA69E;
}

.footer{

    display: flex;
    margin: 1px;
    flex-flow: row nowrap;
    width: 100%;
    height: 120px;
    align-content: flex-end;
    gap: 4px 4px;
    background-color: #5E6472;
    align-items: auto;
    color: #FAF3DD;

}

/* METIENDO MANOPLA ELIAS HASTA ACÁ*/
/* METIENDO MANOPLA ELIAS HASTA ACÁ*/

/* UTILIDADES */

/* FLOR - TRABAJANDO ANDO - FLOR - TRABAJANDO ANDO - FLOR - TRABAJANDO ANDO -*/

.grid-container {
    background-color: #FFFFFF; 
    display:grid; 
    grid-template-columns: 20% 20% 20%;
    grid-template-rows:15% 15% 15%; ;
    justify-content: center;
    padding-bottom: 2.5%;
    
}

.servicios {
    text-align: center;    
}
.servicios h4{
    font-family: 'Roboto', sans-serif;
}
   
.iconosServ {
    padding-top: 8%; 
    margin-left: 2%;
}
.iconosServ img {
    width: 4rem;
}

button{
    font-size: 0.75rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: var(--blanco);
    background-color:var(--ppal-fuerte);
}

button:hover {
    background-color:var(--contraste-fuerte);
}

#nuestrosPlanes {
    max-width: 1400px;
    margin: auto;
}

#nuestrosPlanes{
    text-align: center;
}

#nuestrosPlanes div {
    padding: 5px 12px;
}

#nuestrosPlanes h3 {
    margin: 0;
}

#nuestrosPlanes .plan{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}


#plan1{
    background-color: aliceblue;
}
#plan2{
    background-color: rgb(77, 205, 201);
}
#plan3{
    background-color: rgb(34, 92, 143);
}


@media (max-width:720px){

    #nuestrosPlanes p{
        display: none;
    }
    .servicios {
        text-align: center;
        grid-column:1 / span3;
        
    }
    .servicios h4{
        font-size: 20px;
    }
}

@media(min-width:720px){


    #nuestrosPlanes {
        display: flex;
        justify-content: center; } 

    #nuestrosPlanes {
        background-size: 100% 150px;
  }  
    #plan1{
        background-color: var(--ppal-suave);
    }
    #plan2{
        background-color: var(--ppal-medio);
    }
    #plan3{
         background-color: var(--contraste-suave);

    }
   
}

/* FLOR - HASTA ACÁ LLEGÓ MI AMOR */

.contenedor {
    /* ancho de contenido + centrado */
    width: 760px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

/* GALERIA DE FOTOS - ESPACIOS */
.galeria {
    width: 100%;
    height: 300px;
    padding: 40px 0;
    background-color: rgb(110, 110, 110);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imagen {
    width: 30%;
    height: 100%;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
    filter: grayscale();  
}

.galeria img:hover {
  filter: grayscale(0);

}

@media (max-width: 768px) {
    .galeria {
        flex-direction: column;
        justify-content: center;

        height: auto;
    }
    .imagen {
        margin-bottom: 10px;
        width: 90%;
        height: 30%;
    }


}

