:root {
    /* definir paleta */
    --blanco: #ffffff;
    --texto: #444444;
    --ppal-fuerte:  #5E6472;
    --ppal-medio: #AED9E0;
    --ppal-suave: #B8F2E6;
    --contraste-suave: #FAF3DD;
    --contraste-fuerte: #FFA69E;   

}

/* fonts 
font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif;
*/

/* GLOBALES */

* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box ; 
    
}


/* TITULOS */
h1, 
h2, 
h3 {
    text-align: center;
    margin: 20px;
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem; 
    color: var(--texto);
    letter-spacing: 5px;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: auto;

    position: relative;
}

.subrayado {

    background: linear-gradient( 90deg, #FFA69E, #ffffff);
    height: 20px;
    width: 450px;
    position: absolute;
    left: calc(50vw - 150px);
    bottom: 1rem;
    z-index: -1;

}


/* ELIAS DESDE ACÁ |||||||||| header |||||| */

.site-header {
    background-color: var(--blanco);
    height: 120px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 300ms;
    
  }
 .site-header a {
    text-decoration: none;
    color: var(--ppal-fuerte);
    font-weight: 700;
    transition: all 300ms;
  }
  .site-header a:hover {
    text-decoration: none;
    color: #1F8AFF;
    transition: all 300ms;
  }
  .site-header:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 300ms;
  }

  .site-header__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }
 
  /* |||||| BOTÓN FLOTANTE ||||||||||| */

  #btn-volver{
    margin-top: 10%;
  }
  
  .table-confirmacion  {border-collapse:collapse;border-spacing:0; margin: 50px 0;}
  .table-confirmacion td{border:none;font-size:16px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .table-confirmacion .table-confirmacion-zv4m{text-align:left;vertical-align:top; font-weight:600}
  .table-confirmacion .table-confirmacion-ofj5{text-align:right;vertical-align:top}
  

  #botones-fixed{
    position:fixed;
    bottom: 4%;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 999;
  }
  
  #icono-wp{
    position:absolute;
    width: 3rem;
    bottom: 4%;
    right: 3%;
    transition: .2s ease;
  }
  
  #icono-wp:hover{
    width:4rem
  }
  
  #icono-up-arrow{
    position:absolute;
    width: 3rem;
    bottom: 4%;
    left: 3%;
    transition: .2s ease;
  
  }
  
  #icono-up-arrow:hover{
    width:4rem
  }
  
  #ribbon-container{
    position:relative;
    height: 200%;
  }
  
  #icono-ribbon {
    position: absolute;
    width: 4rem;
    left: 2%;
    top: 0;
  }
  
/* |||||| BOTÓN FLOTANTE ||||||||||| */


/* ELIAS HASTA ACÁ*/





/* UTILIDADES */

/* - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES */

.grid-container { 
    display:grid; 
    grid-template-columns: 20% 20% 20%;
    /*grid-template-rows:15% 15% 15%; ;*/
    justify-content: center;
    padding-bottom: 2.5%;  
}

.servicios {
    text-align: center;    
}
.servicios h4{
    font-family: 'Roboto', sans-serif;
}
   
.iconosServ {
    padding-top: 8%; 
    margin-left: 2%;
}

.iconosServ img {
    width: 4rem;
}


button{
    font-size: 0.75rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: var(--blanco);
    background-color:var(--ppal-fuerte);
}

button:hover {
    background-color:var(--contraste-fuerte);
}

#nuestrosPlanes {
    max-width: 1400px;
    margin: auto;
}

#nuestrosPlanes{
    text-align: center;
}

#nuestrosPlanes div {
    padding: 5px 12px;
}

#nuestrosPlanes h3 {
    margin: 0;
}

#nuestrosPlanes .plan{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}


#plan1{
    background-color:var(--ppal-suave);
}
#plan2{
    background-color: var(--ppal-medio);
}
#plan3{
    background-color: var(--contraste-suave);
}


@media (max-width:720px){

    #nuestrosPlanes p{
        display: none;
    }
    .servicios {
        text-align: center;
        grid-column:1 / span3;
        
    }
    .servicios h4{
        font-size: 20px;
    }
}

@media(min-width:720px){


    #nuestrosPlanes {
        display: flex;
        justify-content: center; } 

    #nuestrosPlanes {
        background-size: 100% 150px;
  }  
    #plan1{
        background-color: var(--ppal-suave);
    }
    #plan2{
        background-color: var(--ppal-medio);
    }
    #plan3{
         background-color: var(--contraste-suave);
    }
   
}

/* - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES - FLOR - SERVICIOS & PLANES */

.contenedor {
    /* ancho de contenido + centrado */
    width: 760px;
    display: flex;
    flex-direction: column;
    margin: auto;

}

/* GALERIA DE FOTOS - ESPACIOS */
.galeria {
    width: 100%;
    height: 300px;
    padding: 40px 0;
    background-color: rgb(110, 110, 110);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imagen {
    width: 30%;
    height: 100%;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 
    filter: grayscale();  
}

.galeria img:hover {
  filter: grayscale(0);

}

@media (max-width: 768px) {
    .galeria {
        flex-direction: column;
        justify-content: center;

        height: auto;
    }
    .imagen {
        margin-bottom: 10px;
        width: 90%;
        height: 30%;
    }


}


/* |||||||||||| ELIAS ||||||||||||| */
/* ||||||||||| FOOTER ||||||||||||| */

.site-footer {
    background-color: var(--blanco);
    height: 100px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.16), 0px -2px 20px 0px rgba(0, 0, 0, 0.23);
    transition: all 300ms;
    
  }

  .fa-brands{
    color:#444444;
  }